@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Shadows Into Light', cursive;
    align-items: center;
    justify-content: center;
    background-color: #fac3bd;
    padding: 0;
    margin-top: 160px;
    display: block;
}
h1{
    text-align: center;
    font-family: cursive;
    letter-spacing: 1px;
}
#add{
    color: #a02c1f;
    background-color: #eb9a91;
    border: 1px solid #a02c1f;
    border-radius: 50px;
    font-size: 15px;
}
.to-do {
    font-size: 24px;
    text-align: center;
}
#description:checked ~ .lista{
    text-decoration: line-through;
    text-decoration-color: #a02c1f;
}
input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a02c1f;
  }